.container {
    max-width: calc(1100px + 20vw);
    margin: 0 auto;
}

.container aside {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    text-align: center;
    position: sticky;
    top: 80px;
    height: auto;
    max-height: 156px;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 1rem 0;
    }

    .container section {
        width: 100%;
    }

    .container aside {
        width: 100%;
        position: static;
    }
}